Flask
Werkzeug
gunicorn
requests
python-telegram-bot
TelegramBotAPI
discord
httpx
colorama
pystyle
bs4
tqdm
rich
faker
numpy
pandas
aiohttp
websockets
aiogram
scrapy
cloudscraper
fake-useragent
pyjwt
pillow
python-dotenv
pydantic
SQLAlchemy
celery
anyio
uvloop
lxml
parsel
bcrypt
passlib
loguru
openpyxl
python-docx
